<!-- Example launch file for stereo camera application -->
<launch>
  <group ns="stereo">
    <node name="stereo_image_proc" pkg="stereo_image_proc" type="stereo_image_proc"/>

    <!-- Left -->
    <include file="$(find avt_vimba_camera)/launch/mono_camera.launch">
      <arg name="name" value="left"/>
      <arg name="ip" value=""/>
      <arg name="guid" value=""/>
      <arg name="camera_info_url" value="file://$(find avt_vimba_camera)/calibrations/calibration_example.yaml"/>

      <arg name="ptp_mode" value="Master"/>
      <arg name="trigger_source" value="FixedRate"/>
      <arg name="sync_out_source" value="Exposing"/>
      <arg name="sync_out_polarity" value="Normal"/>
    </include>

    <!-- Right -->
    <include file="$(find avt_vimba_camera)/launch/mono_camera.launch">
      <arg name="name" value="right"/>
      <arg name="ip" value=""/>
      <arg name="guid" value=""/>
      <arg name="camera_info_url" value="file://$(find avt_vimba_camera)/calibrations/calibration_example.yaml"/>

      <arg name="ptp_mode" value="Slave"/>
      <arg name="trigger_source" value="Line1"/>
      <arg name="trigger_selector" value="AcquisitionStart"/>
      <arg name="trigger_mode" value="On"/>
      <arg name="sync_in_selector" value="SyncIn1"/>
    </include>
  </group>
</launch>
